.chat-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat-box .title-room {
    font-size: 24px;
    margin-bottom: 20px;
    border-left: var(--basic-color) solid 5px;
    padding-left: 10px;
}

.chat-box .ico-exit {
    width: auto;
    height: 17px;
    margin-right: 8px;
    filter: contrast(0) brightness(2);
}
