.login-room {
    width: auto;
    height: 25px;
    filter: contrast(0) brightness(2);
    transition: all .3s ease-out;
}

.login-room:hover {
    transform: scale(1.2);
    transition: all .3s ease-in;
}